.landing-page {
    height: 100svh;
    width: 100%;
    background: rgb(0,55,78);
    background: linear-gradient(180deg, rgb(0, 44, 63) 0%, rgb(0, 8, 28) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-cont {
    position: relative;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text {
    transform: translateY(-550%);
    opacity: 0;
    transition: 1.5s opacity 0s ease-in-out, 1.5s transform 0s ease-in-out; 
}

.main-text-loaded {
    transform: translateY(0%);
    opacity: 1;
}

.sub-text {
    transform: translate(-250%);
    opacity: 0;
    transition: 1.5s opacity 1s ease-in-out, 1.5s transform 1s ease-in-out; 
}

.sub-text-loaded {
    opacity: 1;
    transform: translate(0%);
}

.resume button {
    width: 150px;
    height: 60px;
    border: 3px solid var(--box-text);
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    color: var(--box-text);
    background: var(--box-color);
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}
  
.resume button:hover {
    border: 3px solid var(--accent);
    background: var(--primary);
    color: var(--box-color);
    font-size: 1.5em;
}

.box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    opacity: 0;
    transition: 1.5s opacity 2s ease-in-out;
}

.box-text-loaded {
    opacity: 1;
}

.small-paragraph {
    opacity: 0;
    transition: 1.5s opacity 4.5s ease-in-out;
}

.small-paragraph-loaded {
    opacity: 1;
}

@media (max-width: 768px) {

    .landing-cont {
        width: 100%;
    }
  
}